/*
***************************************************************
***************************************************************

Template Name  : JFOLIO | One Page Portfolio Template
Author         : Golam
Author URI     : http://golamnabiwp.com
File           : Responsive.css



*================================================================== -->
* Medium Screen [992px into 1280px]
*================================================================== -->
*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.about-details {
		padding: 34px 70px 6px 100px;
	}
	.section-title p {
		padding: 0 100px;
	}
    .promo-text h4 {
        font-size: 20px;
    }
    .promo-text h2 {
        font-size: 32px;
    }
    .promo-text p {
        font-size: 14px;
    }
    .single-education,
    .single-experience {
        padding: 0 100px;
    }
    .qualification {
        width: 25%;
    }
    .single-service h4 {
        font-size: 16px;
    }
    .section-padding {
        padding: 80px 0 50px;
    }
    .blog-img {
        min-height: 220px;
        top: -17px;
    }
    .single-contact-info {
        width: 75%;
    }
}


/*
*================================================================== -->
* Tablet Screen [768px into 991px]
*================================================================== -->
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo,
    .about-me-area h4,
    .contact-form-wrap .text-right, .menu {
        text-align: center;
    }
	ul.navbar-nav > li {
		display: inline-block;
	}
    ul.navbar-nav li a {
        padding: 28px 15px;
    }
    ul.navbar-nav, .navbar-right, ul.navbar-nav > li {
		float: none !important;
	}
    .single-promo-item {
        height: 515px;
    }
    .section-title p {
        padding: 0;
    }
    .about-me-area h4 {
        margin-bottom: 40px;
    }
    .about-details {
        margin-top: 40px;
    }
    .single-education,
    .single-experience {
        padding: 0 60px;
    }
    .qualification {
        width: 31%;
    }
    .education-wrap .owl-dots div,
    .experience-wrap .owl-dots div {
        margin-right: 160px;
    }
    .education-wrap .owl-dots,
    .experience-wrap .owl-dots {
        margin-left: -185px;
    }
    .testimonial-wrap {
        padding: 0 100px 30px;
    }
    .testimonial-wrap::before {
        margin-top: -125px;
    }
    .blog-img {
        min-height: 200px;
        position: inherit;
        top: auto;
        left: auto;
        margin-bottom: 50px;
    }
    .contact-info {
        margin-left: -3%;
    }
    .single-contact-info {
        width: 30%;
        float: left;
        margin-left: 3%;
    }
    .bar {
        left: auto;
        top: -18px;
    }
    .contact-form-wrap {
        margin-left: 0;
    }
    #contact-form .form-control {
        height: 55px;
        border-bottom: 2px solid transparent;
        color: #848484;
        background: #fff;
    }
    .form-group {
        margin-bottom: 20px;
    }
    #contact-form textarea.form-control {
        padding-top: 20px;
    }
    .contact-area::before {
        width: 100%;
    }
    .contact-area::after {
        width: 0;
    }
    #contact-form button {
        border: 2px solid #322C2C;
    }
    #contact-form button:hover {
        background-color: #322C2C;
		color: #fff;
    }
    .skill-img {
        max-width: 100%;
        text-align: center;
    }
}


/*
*================================================================== -->
* Mobile Screen [320px into 767px]
*================================================================== -->
*/

@media only screen and (max-width: 767px) {
    /*=========== BOOTSTRAP NAVBAR CSS =============
===============================================*/
    .navbar {
        min-height: 0;
    }
    .navbar-toggle {
        border: 1px solid #F3A626;
        margin-top: -60px;
        margin-right: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #F3A626;
    }
    .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inherit;
    }
    .navbar-collapse.in {
        min-height: 375px;
    }
    .header-top-area .col-md-8,
    .header-top-area .text-right,
    .single-testimonial,
    .single-testimonial h4,
    .footer-area,
    .footer-area .text-right {
        text-align: center;
    }
    .header-top-area .col-md-8 {
        margin-bottom: 12px;
    }
    .header-top-area .text-right {
        margin-top: 12px;
    }
    .promo-text h4 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .promo-text h2 {
        font-size: 32px;
    }
    .promo-text span.cd-words-wrapper {
        display: block;
    }
    .promo-text p {
        font-size: 14px;
    }
    .portfolio-btn {
        font-size: 14px;
    }
    .about-details {
        padding: 32px 0 10px 015px;
    }
    .about-me-area h4,
    .contact-form-wrap .text-right {
        text-align: center;
    }
	.about-me-area span.interest{
		text-align: center;
	}
    .menu {
        background-color: #322C2C;
    }
    ul.navbar-nav li a {
        padding: 15px 15px;
        color: #F3A627;
    }
    .nav-fixed ul.navbar-nav li a {
        padding: 15px 15px;
    }
    ul.navbar-nav,
    .navbar-right {
        float: inherit !important;
    }
    ul.navbar-nav li a::before {
        visibility: hidden;
        width: 0;
    }
    ul.navbar-nav li a:hover,
    ul.navbar-nav li.active a {
        color: #fff;
    }
    .single-promo-item {
        height: 515px;
    }
    .section-title p {
        padding: 0;
    }
    .about-me-area h4 {
        margin-bottom: 40px;
    }
    .about-details {
        margin-top: 40px;
    }
    .single-education,
    .single-experience {
        padding: 0;
        text-align: center;
    }
    .qualification {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
        float: none;
    }
    .skill-img {
        max-width: 100%;
        text-align: center;
    }
    .education-wrap .owl-dots div,
    .experience-wrap .owl-dots div {
        margin-right: 60px;
    }
    .education-wrap .owl-dots,
    .experience-wrap .owl-dots {
        margin-left: -80px;
    }
    .testimonial-wrap::before {
        margin-top: -182px;
    }
    .blog-img {
        min-height: 200px;
        position: inherit;
        top: auto;
        left: auto;
        margin-bottom: 20px;
    }
    .contact-info {
        margin-left: 0;
        padding: 0 10px;
        margin-top: 50px;
    }
    .single-contact-info {
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .bar {
        left: auto;
        top: -25px;
    }
    .contact-form-wrap {
        margin-left: 0;
    }
    #contact-form .form-control {
        height: 55px;
        border-bottom: 2px solid transparent;
        color: #848484;
        background: #fff;
    }
    .form-group {
        margin-bottom: 20px;
    }
    #contact-form textarea.form-control {
        padding-top: 20px;
    }
    .contact-area::before {
        width: 100%;
    }
    .contact-area::after {
        width: 0;
    }
    #contact-form button {
        border: 2px solid #322C2C;
    }
    #contact-form button:hover {
        background-color: #322C2C;
    }
    .single-skill p,
    .single-skill span {
        font-size: 12px;
    }
    ul.portfolio-menu {
        margin: 0;
    }
    ul.portfolio-menu li {
        padding: 6px 12px;
        margin: 0 1px 8px;
        font-size: 10px;
    }
    .testimonial-wrap {
        padding: 0 0 100px;
        margin-top: 25px;
    }
    .testimonial-img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .single-testimonial p {
        line-height: 24px;
        font-size: 14px;
    }
    .blog-info {
        padding: 5px;
        margin-bottom: 60px;
        text-align: center;
    }
    .footer-area {
        padding: 50px 0 20px;
    }
    .footer-area p {
        margin-top: 20px;
    }
    .scroll-to-top {
        top: -15px;
        color: #fff;
        bottom: auto;
    }
    .section-padding {
        padding: 40px 0;
    }
    .testimonial-wrap .owl-nav div {
        bottom: 30px;
        left: 25px;
    }
    .testimonial-wrap .owl-nav div.owl-next {
        left: auto;
        right: 25px;
    }
}


/*
*================================================================== -->
* Wide Mobile Screen [480px into 767px]
*================================================================== -->
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .testimonial-wrap::before {
        margin-top: -138px;
    }
    .promo-text h2 {
        font-size: 38px;
        line-height: 1.2em;
    }
}