/*
***************************************************************
***************************************************************

Template Name  : JFOLIO | One Page Portfolio Template
Author         : Golam
Author URI     : http://themeforest.net/user/templatehut
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may be need to edit this file to change your content style.
This files contents are outlined below

***************************************************************
***************************************************************

=========== INDEX PAGE CSS ====================
-----------------------------------------------

*** - 1. Template Default Css
*** - 2. Template Transition Css
*** - 3. Template Common Css
*** - 4. Template Backgrounds Css
*** - 5. Header Area Css
        - # Header top css
        - # Menu Area css
*** - 6. Promo Area Css
*** - 7. About Me Area Css
*** - 8. Education Area Css
*** - 9. Skill Area Css
*** -10. Experience Area Css
*** -11. Service Area Css
*** -12. Portfolio Area Css
*** -13. Testimonial Area Css
*** -14. Blog Area Css
*** -15. Contact Area Css
*** -16. Footer Area Css

*/


/*
=========----------------------------------=========
1.Template Default Css     
=========----------------------------------=========
*/

/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Montserrat:700,800&subset=latin-ext');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 35px;
}

h3 {
    color: #414141;
    font-size: 30px;
}

h4 {
    color: #ffffff;
}

img {
    max-width: 100%;
}

p {
    color: #848484;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

a {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'selima'; 
    src: url('../fonts/Selima.otf'); /*URL to font*/
}

.selima{
    font-family: selima !important;
}
.navbar {
    margin: 0;
    border: inherit;
}

ul.navbar-nav li a:hover {
    background-color: inherit;
}

.section-padding {
    padding: 60px 0 40px;
}

.section-title {
    overflow: hidden;
    margin-bottom: 30px;
}

.section-title h3 {
    color: #f3a626;
    margin-bottom: 30px;
    z-index: 111;
}

.section-title h3:before {
    width: 200px;
    height: 3px;
    position: absolute;
    content: '';
    background-color: #322C2C;
    bottom: -10px;
    left: 50%;
    margin-left: -100px;
    z-index: -1;
}

.section-title h3:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 8px;
    background-color: #F2A626;
    bottom: -12px;
    right: 50%;
    margin-right: -25px;
}

.section-title p {
	font-size: 16px;
    padding: 0 180px;
    line-height: 28px
}

.section-white-title,
.section-white-title h3 {
    color: #fff;
}

.marginTop {
    margin-top: 20px;
}

.primary-color {
    color: #F3A626;
    text-transform: uppercase;
}


/*
=========----------------------------------=========
2.Template Transition Css 
=========----------------------------------=========
*/

ul.navbar-nav li a:before,
.single-service,
.single-service i,
.single-service h4,
.blog-info,
.blog-info h4 a,
#contact-form button,
ul.portfolio-menu li,
.single-portfolio-item:before {
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}


/*
=========----------------------------------=========
3.Template Common Css  
=========----------------------------------=========
*/

ul.navbar-nav li a,
.single-promo-item,
.section-title h3,
.about-details,
.education-wrap,
.experience-wrap,
.testimonial-wrap,
.testimonial-img,
blog-wrap,
.contact-area,
.single-contact-info,
.footer-area,
.single-portfolio-item {
    position: relative;
}


/*
=========----------------------------------=========
4.Template Backgrounds Css   
=========----------------------------------=========
*/

.promo-bg-1 {
    background-image: url('../img/homebg.jpg');
}

.blog-img-1 {
    background-image: url('../img/blog-1.jpg');
}

.blog-img-2 {
    background-image: url('../img/blog-2.jpg');
}

.blog-img-3 {
    background-image: url('../img/blog-3.jpg');
}

.contact-area {
    background-image: url('../img/contato.jpg')
}

.single-promo-item,
.blog-img,
.contact-area {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
}


/*
=========----------------------------------=========
5.Header Area Css   
=========----------------------------------=========

*    Header Top Css
*    ===========================
*/

.header-top-area {
    background-color: #322C2C;
    color: #fff;
    padding: 10px 0;
    border-top: 10px solid #F3A626;
}

.social-profile li {
    display: inline-block;
}

.header-top-area .col-md-8 {
    margin-top: 8px;
}

.social-profile li a {
    display: block;
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #F3A626;
    background: #222;
    border-radius: 50%;
}

.mainmenu-area {
    border-bottom: 4px solid #F3A626;
}

.logo {
    padding: 12px 0;
    overflow: hidden;
}

.logo a {
    margin: 12px 0;
    display: inline-block;
}

.logo h1 {
    margin: 5px 0;
    line-height: 1em;
}

.logo h1 span {
    color: #F3A626;
}

ul.navbar-nav {}

ul.navbar-nav li {}

ul.navbar-nav li a {
    padding: 36px 15px;
    color: #322c2c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

ul.navbar-nav li a:before {
    position: absolute;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #F3A626;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


/*
*
*    Sticky Meny Css
*    ========================
*/

.nav-fixed {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.nav-fixed .logo a {
    margin: 8px 0;
}

.nav-fixed ul.navbar-nav li a {
    padding: 32px 15px;
}


/*
=========----------------------------------=========
6. Promo Area Css  
=========----------------------------------=========
*/

.promo-area {
    overflow: hidden;
}

.single-promo-item {
    height: 600px;
}

.single-promo-item:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
}

.promoTable {
    display: table;
    width: 100%;
    height: 100%;
}

.promo-tableCell {
    display: table-cell;
    vertical-align: middle;
}

.promo-text h2 {
    font-size: 40px;
}

.promo-text h4 {
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.promo-text p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
}

.portfolio-btn {
    background-color: #F3A626;
    color: #322C2C;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    margin: 20px 5px 10px 0;
}


/*
*    Animate Headline Css
*    =============================
*/

.cd-words-wrapper {
    color: #F3A626;
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.cd-headline.clip span {
    display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper:after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
}

.cd-headline.clip b {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cd-headline.clip b.is-visible {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/*
=========----------------------------------=========
7. About Me Area Css   
=========----------------------------------=========
*/

.about-me-area.section-padding {
    padding-bottom: 50px;
}

.about-me-area span.interest {
    color: #322c2c;
    margin: 20px 0 20px 15px;
    font-weight: 500;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

.single-about-info {
    padding: 50px 0;
    text-align: center;
    background-color: #E9E9E9;
    margin-bottom: 30px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

.single-about-info i {
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
}

.about-details {
    padding: 28px 70px 0px 100px;
    border: 3px solid #f3a626;
}

.about-details span {
    text-transform: capitalize;
    color: #322c2c;
    font-weight: 500;
    line-height: 28px;
    font-size: 16px;
}

.about-details .primary-color {
    color: #F3A626;
    text-transform: uppercase;
}

.signature {
    width: 35%;
    padding: 10px 0;
    margin: 10px 0;
}

.download-btn {
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #F3A626;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.download-btn i {
    margin-right: 4px;
}

.about-bar {
    position: absolute;
    width: 85px;
    height: 20px;
    background-color: #ffffff;
}

.top {
    top: -12px;
    left: 55%;
}

.bottom {
    bottom: -12px;
    right: 56%;
}


/*
=========----------------------------------=========
8. Education Area Css  & 10. Experience Area Css
=========----------------------------------=========
*/

.education-wrap,
.experience-wrap {
    margin-top: 20px;
    overflow: hidden;
    padding-top: 80px;
}

.single-education,
.single-experience {
    padding: 0 150px;
    overflow: hidden;
}

.qualification {
    width: 22%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
    padding-right: 15px;
    min-height: 125px;
}

.qualification span {
    display: block;
    line-height: 1.8em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.education-wrap:before,
.experience-wrap:before {
    position: absolute;
    content: '';
    width: 96%;
    height: 2px;
    background-color: #E9E9E9;
    top: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/**
*    Owl Nav Css
*    ==========================
**/

.education-wrap .owl-nav div,
.experience-wrap .owl-nav div {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 30px;
    color: #322C2C;
}

.education-wrap .owl-nav div.owl-next,
.experience-wrap .owl-nav div.owl-next {
    left: auto;
    right: 0;
}

.education-wrap .owl-nav div:hover,
.experience-wrap .owl-nav div:hover {
    color: #F3A626;
}


/**
*    Owl Dots Css
*    ==========================
**/

.education-wrap .owl-dots div,
.experience-wrap .owl-dots div {
    width: 12px;
    height: 12px;
    background-color: #E9E9E9;
    margin-right: 240px;
    margin-bottom: 4px;
    display: inline-block;
    border-radius: 50%;
}

.education-wrap .owl-dots,
.experience-wrap .owl-dots {
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -280px;
}

.education-wrap .owl-dots div.active,
.experience-wrap .owl-dots div.active {
    background-color: #F3A626;
}


/*
=========----------------------------------=========
9. Skill Area Css  
=========----------------------------------=========
*/
p.skill-obs {
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

.skill-wrap {
    margin-top: 0px;
}

.skill-img {
    max-width: 70%;
    text-align: right;
    margin: 0 auto;
    overflow: hidden;
}

.skill-bar {
    width: 100%;
    height: 8px;
    background-color: #322C2C;
    border-radius: 5px;
}

.skill-bar-overlay {
    height: 8px;
    background-color: #F8BA26;
    width: 20%;
}

.single-skill {
    position: relative;
    margin-bottom: 30px;
}

.single-skill p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #322c2c;
}

.single-skill span {
    position: absolute;
    top: 0;
    left: 20%;
    font-size: 16px;
    color: #322C2C;
    font-weight: 500;
    opacity: 0;
}

.single-skill span.show {
    text-align: right;
    opacity: 1;
}


/*
=========----------------------------------=========
11. Service Area Css  
=========----------------------------------=========
*/

.service-wrap {
    margin-top: 20px;
}

.single-service {
    padding: 40px 10px 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(243, 166, 38, .7);
}

.single-service i {
    width: 62px;
    height: 62px;
    margin: 0 auto;
    line-height: 65px;
    font-size: 22px;
    color: #fff;
    background-color: #322C2C;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
}

.single-service h4 {
    color: #f3a626;
    font-size: 18px;
    margin: 20px 0 10px;
    font-weight: 600;
}

.single-service p {
    color: #322c2c;
    line-height: 24px;
}


/*
=========----------------------------------=========
12. Portfolio Area Css 
=========----------------------------------=========
*/

ul.portfolio-menu {
    margin: 0 0 25px;
	overflow: hidden;
}

ul.portfolio-menu li {
    display: inline-block;
    font-size: 14px;
    padding: 8px 18px;
    text-transform: uppercase;
    background-color: #322C2C;
    color: #F3A627;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.grid {
    margin-top: 30px;
}

.portfolio-wrap {
    margin-top: 30px;
}

.single-portfolio-item {
    overflow: hidden;
    margin-bottom: 30px;
}

.single-portfolio-item img {
    width: 100%;
}

.single-portfolio-item:before {
    position: absolute;
    content: '';
    background-color: rgba(243, 166, 39, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.single-portfolio-item:before,
.portfolio-desc h4,
.portfolio-desc a {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

.portfolio-desc {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: auto;
    margin-top: -70px;
    z-index: 5;
}

.portfolio-desc h4 {
    font-size: 22px;
    letter-spacing: 0;
    color: #222;
    font-weight: 700;
    font-family: roboto;
	-webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.portfolio-desc span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    text-transform: capitalize;
}

.portfolio-desc a {
    font-size: 24px;
    color: #fff;
    margin-top: 18px;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
}

.single-portfolio-item:hover:before,
.single-portfolio-item:hover .portfolio-desc h4,
.single-portfolio-item:hover .portfolio-desc a {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.single-portfolio-item:hover .portfolio-desc h4,
.single-portfolio-item:hover .portfolio-desc a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.portfolio-desc a:hover {
    color: #222;
}


/*
=========----------------------------------=========
13. Testimonial Area Css
=========----------------------------------=========
*/

.testimonial-wrap {
    padding: 0 140px 30px;
    min-height: 285px;
    margin-top: 20px;
    overflow: hidden;
}

.testimonial-wrap:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #322C2C;
    top: 50%;
    left: 0;
    margin-top: -85px;
}

.single-testimonial {
    overflow: hidden;
}

.testimonial-img {
    width: 200px;
    height: 200px;
	margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
}

.testimonial-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 8px;
}

.single-testimonial p {
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    margin-top: 35px;
}

.testimonial-img i {
    color: #322C2C;
    position: absolute;
    top: 75%;
    right: 10px;
    width: 38px;
    height: 38px;
    background-color: #fff;
    z-index: 1;
    font-size: 28px;
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
}

.single-testimonial h4 {
    text-align: right;
    color: #322C2C;
    margin-top: 25px;
}

.testimonial-wrap .owl-nav div {
    position: absolute;
    bottom: 30%;
    left: 50px;
    width: 35px;
    height: 35px;
    background-color: #F3A626;
	color: #322C2C;
    line-height: 32px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
	border: 2px solid transparent;
}

.testimonial-wrap .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}

.testimonial-wrap .owl-nav div:hover {
    background-color: transparent;
	border: 2px solid #F3A626;
    color: #F3A626;
}


/*
=========----------------------------------=========
14. Blog Area Css   
=========----------------------------------=========
*/

.blog-wrap {
    margin-top: 50px;
}

.blog-info {
    padding: 15px 35px 15px 100px;
    border: 3px solid #322C2C;
    margin-bottom: 80px;
}

.blog-info h4 {
    color: #322C2C;
    font-size: 16px;
}

.blog-info h4 a {
    color: #322C2C;
    font-weight: 500;
    font-size: 16px;
}

.blog-info p {
    line-height: 24px;
}

.blog-img {
    min-height: 200px;
    position: absolute;
    top: -20px;
    left: 78px;
}


/*
=========----------------------------------=========
15. Contact Area Css 
=========----------------------------------=========
*/

.contact-area:before,
.contact-area:after {
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
}

.contact-area:before {
    background-color: rgba(209, 146, 40, .7);
    width: calc(100% - 50%);
}

.contact-area:after {
    left: auto;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    width: calc(100% - 50%);
}

.contact-info {
    margin-top: 75px;
}

.single-contact-info {
    color: #f3f3f3 !important;
    width: 65%;
    text-align: center;
    margin-bottom: 100px;
}
.single-contact-info *{
    color: #f3f3f3 !important;
}

.single-contact-info i {
    margin-right: 10px;
}

.single-contact-info h5 {
    font-size: 16px;
}

.bar {
    position: absolute;
    width: 100%;
    height: 125px;
    border-left: 4px solid #fff;
    left: -100px;
    top: -25px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-radius: 4px;
}

.bar:before,
.bar:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 12px;
    background-color: #fff;
}

.bar:before {
    top: 0;
    right: 0;
}

.bar:after {
    bottom: 0;
    right: 0;
}

.contact-form-wrap {
    position: relative;
    z-index: 9;
    margin-left: 40px;
}

#contact-form .form-control {
    height: 75px;
    border: inherit;
    border-bottom: 2px solid #fff;
    background: inherit;
    font-size: 16px;
    color: #f3f3f3;
    box-shadow: inherit;
    border-radius: inherit;
}

#contact-form textarea.form-control {
    height: 200px;
}

#contact-form .form-control:focus {
    box-shadow: inherit;
}

#contact-form button {
    height: 45px;
    background: none;
    border: 2px solid #f3a626;
    padding: 0 25px;
    font-size: 16px;
    text-transform: uppercase;
    color: #f3f3f3;
    margin-top: 30px;
	font-weight: 600;
}

#contact-form button i {
    margin-right: 5px;
}

.msg-box {
    overflow: hidden;
}

#contact-form .msg-box .alert {
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

#contact-form .msg-box button {
    margin-top: -14px;
    border: inherit;
    background-color: #000;
    height: 55px;
    margin-right: -18px;
    position: relative;
}

/*
=========----------------------------------=========
16. Footer Area Css  
=========----------------------------------=========
*/

.footer-area {
    background-color: #322c2c;
    padding: 20px 0;
}

.footer-area p {
    margin-top: 10px;
    margin-bottom: 0;
}

.scroll-to-top {
    position: absolute;
    bottom: 28px;
    left: 50%;
    width: 20px;
    height: 20px;
    z-index: 99;
    margin-left: -10px;
    font-size: 28px;
    color: #F3A626;
}

.scroll-to-top:hover {
    color: #fff;
}


/*
=========----------------------------------=========
1.Template Hover Css   
=========----------------------------------=========
*/

.social-profile li a:hover {
    background-color: #F3A626;
    color: #222;
}

ul.navbar-nav li:hover a,
.portfolio-btn:hover,
.download-btn:hover,
.blog-info:hover h4 a {
    color: #F3A626;
}

ul.navbar-nav li:hover a:before,
ul.navbar-nav li.active a:before {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-btn:hover,
.download-btn:hover {
    background-color: #322C2C;
}

.single-service:hover,
#contact-form button:hover,
ul.portfolio-menu li:hover,
ul.portfolio-menu li.current {
    background-color: #F3A626;
	color: #322C2C;
}

.single-service:hover i {
    color: #322C2C;
    background-color: #fff;
}

.single-service:hover h4 {
    color: #322C2C;
}

.single-service:hover p {
    color: #fff;
}

.blog-info:hover {
    border: 3px solid #F3A626;
}